*,
/* general styles */

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.app {
  width: 100%;
}

/* login page */

.login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-nav {
  width: 100%;
}

.login-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
}

.login-nav h3 {
  font-size: 2rem;
}

.login-form {
  display: flex;
  width: 80rem;
  align-items: center;
  height: 100%;
  justify-content: space-around;
}

.signup {
  display: flex;
  width: 100%;
}

.signup-banner {
  width: 50%;
}

.signup-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Footer */

footer {
  text-align: center;
  width: 100%;
  height: 5rem;
  font-size: 2rem;
}

/* animations */

/* media queries */
